.button {
  text-decoration: none;
  border: 2px solid #fff;
  @include font-size-sass(20px);
  padding: 15px 30px;
  line-height: 1;
  font-family: $nav-font;
  display: flex;
  position: relative;
  @include breakpoint(medium1250-down) {
    @include font-size-sass(18px);
  }
  @include media-breakpoint-down(md) {
    @include font-size-sass(16px);
    padding: 15px;
  }
  @include breakpoint(medium768-down) {
    padding-right: 35px;
    &.image-btn {
      padding-right: 0;
    }
  }
  @include breakpoint(medium767-down) {
    padding-right: 35px !important;
    &.image-btn {
      padding-right: 0 !important;
    }
  }
  &:hover {
    color: $default-font-color;
    border-color: $default-font-color;
  }
  &::after {
    //content: url(./images/next_arrow_nocolor.svg);
    content:'';
    mask: url(./images/next_arrow_nocolor.svg) no-repeat 50% 50%;
    mask-size: cover;
    height: 20px;
    padding-left: 15px;
    background-color: #fff;
    vertical-align: middle;
    margin-left: 15px;
    @include breakpoint(medium768-down) {
      margin-top: -1px;
      right: 15px;
      position: absolute;
      height: 16px;
    }
  }
  &:hover {
    &::after {
      background-color: $default-font-color;
    }
  }
  &.cta-btn {
    display: block;
    @include breakpoint(medium768-down) {
      padding-right: 35px;
    }
  }
  &.link {
    color: #333;
    border: 0;
    @include font-size-sass(16px);
    padding-top: 25px;
    &::after {
      mask: url(./images/next_arrow_nocolor.svg) no-repeat 50% 50%;
      mask-size: cover;
      background-color: #333;
      @include breakpoint(medium767-down) {
        margin-top: 0;
        right: unset;
        position: static;
      }
    }
    &:hover {
      &::after {
        background-color: $default-font-color;
      }
    }
    &:hover {
      cursor: pointer;
    }
    &.no-arrow {
      padding: 0;
      &::after {
        content: none;
      }
    }
  }
  &.cta-btn {
    border: 2px solid #00629b;
    color: #00629b;
    &::after {
      background-color: #00629b;
    }
    &:hover {
      color: #fff;
      background-color: #00629b;
      &::after {
        background-color: #fff;
      }
    }
  }
  @include breakpoint(medium767-down) {
    @include font-size-sass(16px);
    padding: 15px;
  }
}

.contact {
  .frm_style_formidable-style.with_frm_style .frm_compact .frm_dropzone.dz-clickable .dz-message, .frm_style_formidable-style.with_frm_style input[type=submit], .frm_style_formidable-style.with_frm_style .frm_submit input[type=button], .frm_style_formidable-style.with_frm_style .frm_submit button, .frm_form_submit_style, .frm_style_formidable-style.with_frm_style .frm-edit-page-btn {
    background-color: transparent;
    font-family: $nav-font;
    @include font-size-sass(20px);
    font-weight: 500;
    color: #00629b;
    border: 2px solid #00629b;
    border-radius: 0;
    &::after {
      fill: #00629b;
    }
    &:hover,
    &:focus {
      color: #fff;
      background-color: #00629b;
      border: 2px solid #00629b;
    }
  }
}


