%font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .isWindowsChrome & {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

%fix-webkit-font-rendering {
  @extend %font-smoothing;
  text-rendering: optimizeLegibility;
}

@mixin breakpoint($point) {
  @if $point == large2300-up {
    @media (min-width: 2300px) {
      @content;
    }
  } @else if $point == large2200-up {
    @media (min-width: 2200px) {
      @content;
    }
  } @else if $point == large2100-up {
    @media (min-width: 2100px) {
      @content;
    }
  } @else if $point == large2000-up {
    @media (min-width: 2000px) {
      @content;
    }
  } @else if $point == large1800-up {
    @media (min-width: 1800px) {
      @content;
    }
  } @else if $point == large1700-up {
    @media (min-width: 1700px) {
      @content;
    }
  } @else if $point == medium1780-down {
    @media (max-width: 1780px) {
      @content;
    }
  } @else if $point == medium1575-down {
    @media (max-width: 1575px) {
      @content;
    }
  } @else if $point == medium1500-up {
    @media (min-width: 1500px) {
      @content;
    }
  } @else if $point == medium1450-down {
    @media (max-width: 1450px) {
      @content;
    }
  } @else if $point == medium1410-down {
    @media (max-width: 1410px) {
      @content;
    }
  } @else if $point == medium1400-down {
    @media (max-width: 1400px) {
      @content;
    }
  } @else if $point == medium1390-down {
    @media (max-width: 1390px) {
      @content;
    }
  } @else if $point == medium1355-down {
    @media (max-width: 1355px) {
      @content;
    }
  } @else if $point == medium1350-down {
    @media (max-width: 1350px) {
      @content;
    }
  } @else if $point == medium1300-down {
    @media (max-width: 1300px) {
      @content;
    }
  } @else if $point == medium1280-down {
    @media (max-width: 1280px) {
      @content;
    }
  } @else if $point == medium1250-down {
    @media (max-width: 1250px) {
      @content;
    }
  } @else if $point == medium1200-down {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $point == medium1200-up {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $point == medium1180-down {
    @media (max-width: 1180px) {
      @content;
    }
  } @else if $point == medium1170-down {
    @media (max-width: 1170px) {
      @content;
    }
  } @else if $point == medium1150-down {
    @media (max-width: 1150px) {
      @content;
    }
  } @else if $point == medium1132-down {
    @media (max-width: 1132px) {
      @content;
    }
  } @else if $point == medium1110-down {
    @media (max-width: 1110px) {
      @content;
    }
  } @else if $point == medium1100-down {
    @media (max-width: 1100px) {
      @content;
    }
  } @else if $point == medium1095-down {
    @media (max-width: 1095px) {
      @content;
    }
  } @else if $point == medium1080-down {
    @media (max-width: 1080px) {
      @content;
    }
  } @else if $point == medium1070-down {
    @media (max-width: 1070px) {
      @content;
    }
  } @else if $point == medium1055-down {
    @media (max-width: 1055px) {
      @content;
    }
  } @else if $point == medium1050-down {
    @media (max-width: 1050px) {
      @content;
    }
  } @else if $point == medium1025-down {
    @media (max-width: 1025px) {
      @content;
    }
  } @else if $point == medium1024-up {
    @media (min-width: 1025px) {
      @content;
    }
  } @else if $point == medium1023-down {
    @media (max-width: 1023px) {
      @content;
    }
  } @else if $point == medium1000-down {
    @media (max-width: 1000px) {
      @content;
    }
  } @else if $point == medium990-down {
    @media (max-width: 990px) {
      @content;
    }
  } @else if $point == medium983-down {
    @media (max-width: 983px) {
      @content;
    }
  } @else if $point == medium980-down {
    @media (max-width: 980px) {
      @content;
    }
  } @else if $point == medium970-down {
    @media (max-width: 970px) {
      @content;
    }
  } @else if $point == medium966-down {
    @media (max-width: 966px) {
      @content;
    }
  } @else if $point == medium960-down {
    @media (max-width: 960px) {
      @content;
    }
  } @else if $point == medium950-down {
    @media (max-width: 950px) {
      @content;
    }
  } @else if $point == medium940-down {
    @media (max-width: 940px) {
      @content;
    }
  } @else if $point == medium936-down {
    @media (max-width: 936px) {
      @content;
    }
  } @else if $point == medium910-down {
    @media (max-width: 910px) {
      @content;
    }
  } @else if $point == medium900-down {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $point == medium900-up {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $point == medium880-down {
    @media (max-width: 880px) {
      @content;
    }
  } @else if $point == medium870-down {
    @media (max-width: 870px) {
      @content;
    }
  } @else if $point == medium860-down {
    @media (max-width: 860px) {
      @content;
    }
  } @else if $point == medium830-down {
    @media (max-width: 830px) {
      @content;
    }
  } @else if $point == medium810-down {
    @media (max-width: 810px) {
      @content;
    }
  } @else if $point == medium800-up {
    @media (min-width: 801px) {
      @content;
    }
  } @else if $point == medium800-down {
    @media (max-width: 800px) {
      @content;
    }
  } @else if $point == medium780-down {
    @media (max-width: 780px) {
      @content;
    }
  } @else if $point == medium768-down {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $point == medium767-down {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point == medium766-down {
    @media (max-width: 766px) {
      @content;
    }
  } @else if $point == medium750-down {
    @media (max-width: 750px) {
      @content;
    }
  } @else if $point == medium700-up {
    @media (min-width: 701px) {
      @content;
    }
  } @else if $point == medium700-down {
    @media (max-width: 700px) {
      @content;
    }
  } @else if $point == medium660-down {
    @media (max-width: 660px) {
      @content;
    }
  } @else if $point == small640-down {
    @media (max-width: 640px) {
      @content;
    }
  } @else if $point == small580-down {
    @media (max-width: 580px) {
      @content;
    }
  } @else if $point == small568-down {
    @media (max-width: 568px) {
      @content;
    }
  } @else if $point == small480-up {
    @media (min-width: 481px) {
      @content;
    }
  } @else if $point == small480-down {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $point == small440-down {
    @media (max-width: 440px) {
      @content;
    }
  } @else if $point == small430-down {
    @media (max-width: 430px) {
      @content;
    }
  } @else if $point == small400-down {
    @media (max-width: 400px) {
      @content;
    }
  } @else if $point == small385-down {
    @media (max-width: 385px) {
      @content;
    }
  } @else if $point == small380-down {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $point == small374-down {
    @media (max-width: 374px) {
      @content;
    }
  } @else if $point == small370-down {
    @media (max-width: 370px) {
      @content;
    }
  } @else if $point == small360-down {
    @media (max-width: 360px) {
      @content;
    }
  } @else if $point == small340-down {
    @media (max-width: 340px) {
      @content;
    }
  }
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
abbr,
address,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
samp,
small,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
i,
b,
em,
strong,
blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: $default-font;
  font-weight: 300;
  //font-style: normal;
  font-size: 18px;
  color: $default-font-color;
  @extend %fix-webkit-font-rendering;
  line-height: 1.625;
  color: #4a4a4a;
}

div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
abbr,
address,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
samp,
small,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
i,
b,
em,
strong,
blockquote {
  @include breakpoint(medium1250-down) {
    @include font-size-sass(16px);
  }
  @include media-breakpoint-down(md) {
    @include font-size-sass(13px);
  }
}

p {
  margin-bottom: 30px;
  @include breakpoint(medium768-down) {
    line-height: 1.57;
    margin-bottom: 12px;
  }
}

body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
  @include media-breakpoint-down(md) {
    margin-bottom:  15px;
  }
}

h1 {
  @include font-size-sass(64px);
  margin-bottom: 30px;
  @include breakpoint(medium1250-down) {
    @include font-size-sass(45px);
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 14px;
  }
  @include breakpoint(medium768-down) {
    @include font-size-sass(32px);
  }
}


html {
  // Prevent font scaling in landscape while allowing user zoom
  -webkit-text-size-adjust: 100%;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h2 {
  @include font-size-sass(48px);
  @include breakpoint(medium1250-down) {
    @include font-size-sass(32px);
  }
  @include breakpoint(medium768-down) {
    @include font-size-sass(27px);
  }
}

h3 {
  @include font-size-sass(36px);
  @include breakpoint(medium1250-down) {
    @include font-size-sass(24px);
  }
  @include breakpoint(medium768-down) {
    @include font-size-sass(18px);
  }
}

h4 {
  @include font-size-sass(18px);
  @include breakpoint(medium1250-down) {
    @include font-size-sass(14px);
  }
}

h5 {
  @include font-size-sass(24px);
  @include breakpoint(medium1250-down) {
    @include font-size-sass(16px);
  }
}

small {
  @include font-size-sass(14px);
  @include media-breakpoint-down(md) {
    @include font-size-sass(11px);
  }
  @include breakpoint(medium768-down) {
    @include font-size-sass(10px);
  }
}

.f32 {
  @include font-size-sass(32px);
  line-height: 1.6;
  @include breakpoint(medium1250-down) {
    @include font-size-sass(26px);
    line-height: 1.2;
  }
  @include media-breakpoint-down(md) {
    @include font-size-sass(20px);
    margin-bottom: 16px;
  }
  @include breakpoint(medium768-down) {
    @include font-size-sass(16px);
  }
}

.f16 {
  @include font-size-sass(16px);
  @include media-breakpoint-down(md) {
    @include font-size-sass(10px);
  }
}

.video-btn {
  margin-bottom: 5px;
}

.anchor {
  padding-left: 10px;
}

.video-background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

a {
  color: #0093b2;
  &:hover {
    text-decoration: none;
    color: #0093b2;
    * {
      color: inherit;
      svg {
        fill: #0093b2;
      }
    }
  }
  text-decoration: none;
  span,
  strong,
  i,
  u {
    color: inherit;
    font-size: inherit;
  }
}

.content-info .white-font a:hover svg {
  fill: #0093b2;
}

a:active,
a:focus {
  color: #0093b2;
}

body {
  @include breakpoint(small568-down) {
    padding-bottom: 0 !important;
  }
}

.content-info {
  margin-bottom: 2.5rem;
}

.social_icons {
  @include breakpoint(medium750-down) {
    display: block;
    i {
      @include font-size-sass(32px);
    }
  }
}

.figure-caption,
.wp-caption-text {
  color: #4a4a4a;
}

strong {
  font-weight: 700;
}

strong,
u,
i {
  color: inherit;
  font-size: inherit;
}

.foot-link {
  text-decoration: none;
}

.social_icon {
  color: #4a4a4a;
  &:hover {
    color: #ba6027;
  }
}

* { box-sizing: border-box; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  //padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-outof-container {
  margin-top: -8vw;
  vertical-align: bottom;
}

.nav-tabs {
  border-bottom: 1px solid #a2acab;
  position: relative;
  .nav-link {
    border: none;
    font-weight: 700;
    color: #121212;
    &.active {
      color: #0093b2;
    }
  }
  hr {
    height: 6px;
    width: 49%;
    position: absolute;
    margin: 0px;
    background: #0093b2;
    border: none;
    transition: all 0.3s ease-in-out 0s;
    bottom: -3px;
  }
  .nav-item {
    margin-bottom: 8px;
  }
  .nav-item-0.active ~ hr,
  .nav-item-0:hover ~ hr,
  .nav-item-0:hover ~ .nav-item-1.active ~ hr {
    margin-left: 0;
  }
  .nav-item-1.active ~ hr,
  .nav-item-1:hover ~ hr {
    margin-left: 50%;
  }
}

.tab-content > .active {
  display: flex;
}

.nav-tabs .nav-link.active, .nav-tabs .banner .nav a.active, .banner .nav .nav-tabs a.active, .nav-tabs .nav-item.show .nav-link, .nav-tabs .banner .nav li.show .nav-link, .banner .nav .nav-tabs li.show .nav-link, .nav-tabs .nav-item.show .banner .nav a, .banner .nav .nav-tabs .nav-item.show a, .nav-tabs .banner .nav li.show a, .banner .nav .nav-tabs li.show a {
  border-color: transparent transparent #a2acab;
}

.nav-tabs .nav-link:hover, .nav-tabs .banner .nav a:hover, .banner .nav .nav-tabs a:hover, .nav-tabs .nav-link:focus, .nav-tabs .banner .nav a:focus, .banner .nav .nav-tabs a:focus {
  border-color: transparent transparent #a2acab;
}

.back-casestudy {
  text-transform: uppercase;
}

.normal-item {
  padding: 20px 20px 90px;
}

section {
  padding: 80px 0 100px;
  position: relative;
  @include media-breakpoint-down(md) {
    padding: 2rem 0;
  }
  &.section-chat {
    .container {
      padding: 0;
      padding-left: 140px;
      @include media-breakpoint-down(md) {
        padding: 30px 30px 0 80px;
      }
      @include breakpoint(medium767-down) {
        padding: 30px 30px 0 30px;
      }
    }
    @include breakpoint(medium767-down) {
      margin-left: 24px;
      margin-right: 24px;
    }
  }
  &.section-story-gallery {
    overflow-x: hidden;
  }
  &.section-home-header {
    padding: 0;
    /*height: 1080px;
    width: 100%;
    max-height: 1080px;*/
  }
  &.section-headline {
    padding: 0;
  }
  &.section-core-value {
    padding-top: 0;
    @include breakpoint(medium767-down) {
      .container {
        max-width: none;
      }
    }
  }
  &.section-custom-post-type {
    padding-top: 0;
    @include breakpoint(medium767-down) {
      padding-bottom: 60px;
    }
  }
  &.section-financial {
    padding-bottom: 0;
    hr {
      margin-top: 3rem;
      @include media-breakpoint-down(md) {
        margin-top: 20px;
      }
      &.number-hr {
        width: 96px;
        margin-left: 0;
      }
    }
  }
  &.section-contact {
    padding-top: 1.5rem;
    border-bottom: 2px solid #ebebeb;
    @include breakpoint(medium767-down) {
      border-bottom: 0;
    }
  }
  @include breakpoint(medium767-down) {
    padding:0;
    &.section-404 {
      padding-bottom: 80px;
      padding-top: 40px;
    }
    &.section-cta {
      padding: 50px 0 !important;
    }
    &.section-core-value {
      padding-top: 40px;
    }
  }
}

.contact {
  section {
    @include breakpoint(medium767-down) {
      padding-bottom: 60px;
    }
  }
}
.white-bg {
  background-color: #fff;
}

.white-bg-full {
  background-color: #fff;
  width: 100%;
  height: 16rem;
  margin-top: -10rem;
  @include breakpoint(medium767-down) {
    margin-left: -15px;
    margin-right: -15px;
    width: auto;
  }
}

.touchLeft {
  min-width: 140%;
  margin-left: -40%;
  vertical-align: bottom;
}

.carousel-control-prev, .carousel-control-next {
  color: #00629b;
  bottom: -80px;
  right: 0;
  top: unset;
  left: unset;
  opacity: 1;
  width: 54px;
  svg {
    width: 54px;
    height: 30px;
  }
  z-index: 20;
}

.carousel-control-prev {
  right: 80px;
  @include breakpoint(medium767-down) {
    right: 55%;
    margin-right: 20px;
    width: 40px;
  }
}

.white-font {
  color: #fff;
  * {
    color: inherit;
  }
}

.carousel-control-next {
  @include breakpoint(medium767-down) {
    right: 50%;
    margin-right: -68px;
  }
}

.img-404 svg {
  width: 100%;
  height: auto;
}

#toTopBtn {
  position: fixed;
  bottom: 26px;
  right: 40px;
  z-index: 98;
  padding: 2px;
  border: 3px solid #00629b;
  width: 56px;
  height: 56px;
  border-radius: 8px;
}

.js .cd-top--fade-out {
  opacity: .5;
}

.js .cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.js .cd-top {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s, background-color .3s;
}

.cd-top {
  position: fixed;
  bottom: 20px;
  bottom: var(--cd-back-to-top-margin);
  right: 20px;
  right: var(--cd-back-to-top-margin);
  display: inline-block;
  height: 40px;
  height: var(--cd-back-to-top-size);
  width: 40px;
  width: var(--cd-back-to-top-size);
  box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
  background: url(./images/arrow_transparent.svg) no-repeat center 50%;
  fill: #00629b;
}

.svg-arrow {
  position: absolute;
  left: 0;
  height: 100%;
  overflow: hidden;
  &.animate__slideInLeft {
    left: 75%;
  }
}

.svg-arrow-chat {
  position: absolute;
  left: 40%;
  height: 100%;
  overflow: hidden;
}

.svg-chat-arrow {
  position: absolute;
  left: 98%;
  height: 100%;
  overflow: hidden;
 /* &.animate__slideInLeft {
    left: 100%;
  } */
  @include breakpoint(medium767-down) {
    display: none;
  }
}

.svg-arrow-headline {
  position: absolute;
  left: -20%;
  &.animate__slideInLeft {
    left: 0;
    @include breakpoint(large2100-up) {
      left: 10%;
    }
  }
  @include media-breakpoint-down(md) {
    svg {
      width: 160px;
    }
  }
}

.svg-arrow-case-study {
  position: absolute;
  top: -17%;
  left: 40%;
  &.animate__slideInLeft {
    left: 85%;
  }
}

.svg-arrow-testimonial {
  position: absolute;
  top: -21%;
  left: 35%;
  z-index: 10;
  &.animate__slideInLeft {
    left: 65%;
  }
}

.svg-arrow-head-home {
  position: absolute;
  top: 0;
  left: -30%;
  z-index: 10;
  top: 25%;
  &.animate__slideInLeft {
    left: 5%;
  }
  @include media-breakpoint-down(md) {
    svg {
      width: 160px;
    }
    top: 0;
  }
}

.post-header {
  .header-content {
    color: #fff;
    * {
      color: inherit;
    }
    @include breakpoint(medium767-down) {
      padding-top: 30px;
    }
  }
}

.mg-t-60 {
  margin-top: 3rem;
  @include breakpoint(medium767-down) {
    margin-top: 1.725rem;
  }
}

.pb-100 {
  padding-bottom: 5rem;
  @include breakpoint(medium768-down) {
    padding-bottom: 2rem;
  }
  @include breakpoint(small640-down) {
    padding-bottom: 0;
  }
}

/*body .modal-dialog {
  max-width: 100%;
  width: auto !important;
  display: inline-block;
}

.modal {
  z-index: -1;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.modal-open .modal {
  z-index: 1050;
}*/

.modal-dialog {
  @include media-breakpoint-up(sm) {
    max-width: 1000px;
  }
}

.modal-lg {
  min-width: auto;
  max-width: fit-content;
}

.modal-header {
  border-bottom: 0;
  padding: 0 1rem;
}

.modal-body {
  padding: 0;
  @include breakpoint(small640-down) {
    padding-bottom: 30px;
  }
  .fullWidth {
    h2 {
      margin-top: 0;
      margin-bottom: 20px;
    }
    hr {
      border-top: 4px solid #121212;
      width: 80px;
      margin-bottom: 20px;
      @include media-breakpoint-down(md) {
        width: 40px;
        border-top: 2px solid #121212;
        margin-bottom: 10px;
      }
    }
    @include media-breakpoint-down(md) {
      .modal-copy {
        padding-top: 0 !important;
      }
      .modal-copy-container {
        padding-left: 20px !important;
        padding-right: 20px;
      }
      button.close {
        padding-right: 10px;
        font-size: 1rem;
        padding-top: 10px;
        span {
          @include font-size-sass(28px);
          line-height: 1;
        }
      }
    }
    @include breakpoint(medium767-down) {
      .modal-copy-container {
        padding-left: 24px !important;
        padding-right: 24px;
      }
    }
    @include breakpoint(small640-down) {
      .modal-copy {
        padding-right: 0 !important;
      }
      button.close {
        padding-right: 0;
      }
    }
  }
  .container {
    @include breakpoint(medium1200-down) {
      padding-left: 0;
      padding-right: 0;
      margin-left: 15px;
      .img-outof-right-container {
        max-width: 112%;
      }
    }
    @include media-breakpoint-down(md) {
      max-width: none;
      margin: auto;
      .img-outof-right-container {
        max-width: 100%;
      }
    }
  }
  .green-rectangle {
    background-color: $emeraldgreen;
    width: 100%;
    height: 100%;
    max-width: 640px;
    @include breakpoint(medium767-down) {
      display: none;
    }
  }
}

.img-outof-right-container {
  max-width: 110%;
  vertical-align: bottom;
}

.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
  outline: none;
}

button.close span {
  @include font-size-sass(32px);
}

.cd-top {
  display: none;
}

.desktop-show {
  @include breakpoint(medium768-down) {
    display: none;
  }
}

.desktop-show-640 {
  @include breakpoint(medium767-down) {
    display: none;
  }
}

.mobile-show-640 {
  display: none;
  @include breakpoint(medium767-down) {
    display: block;
  }
}

.mobile-show {
  display: none;
  @include breakpoint(medium768-down) {
    display: block;
    &.row {
      display: flex;
    }
  }
}

.mobile-blue {
  @include breakpoint(medium768-down) {
    background-color: #0d4059;
  }
}

.select2-container {
  width: 100% !important;
  margin: 20px auto;
}

.select2-container--default .select2-selection--single {
  border: 2px solid #ebebeb;
  padding: 3px;
  height: auto;
  .select2-selection__rendered {
    color: #1693b2;
    @include font-size-sass(14px);
    font-weight: 500;
    font-family: $nav-font;
  }
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: 0;
  content: url(./images/downarrow.svg);
  width: 10px;
  height: 14px;
  left: 26%;
}

.carousel-item {
  img {
    width: 100%;
  }
}

.with_frm_style .frm_top_container .frm_primary_label, .with_frm_style .frm_hidden_container .frm_primary_label, .with_frm_style .frm_pos_top {
  font-family: $default-font;
  font-weight: 700;
}

hr.hide-scroll {
  margin-top: 0.175rem;
}

.carousel-inner .carousel-item > img {
  -webkit-animation: thing 20s;
  -o-animation: thing 20s;
  animation: thing 20s;
}
@keyframes thing {
  from {
     transform: scale(1, 1);
  }
  to {
    transform: scale(1.25, 1.25);
  }
}

.modal-content {
  p {
    @include font-size-sass(14px);
    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
      @include font-size-sass(13px);
    }
  }
  hr {
    margin-top: 0;
  }
}

#circle {
  fill: black;
}

#mySVG {
  width: 10px;
}

.st0 {
  fill: none;
  stroke: black;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.frm_style_formidable-style.with_frm_style .frm_blank_field label, .frm_style_formidable-style.with_frm_style .frm_error {
  color: #be2f2f;
}

@keyframes slidein {
  from {
    margin-right: 100%;
    width: 0;
  }

  to {
    margin-left: 0%;
    width: calc(100% - 32px);
  }
}

@keyframes slideinTen {
  from {
    margin-right: 100%;
    width: 0;
  }

  to {
    margin-left: 0%;
    width: 15px;
  }
}

.container {
  @include breakpoint(medium767-down) {
    padding-left: 24px;
    padding-right: 24px;
    .row {
      margin-left: 0;
      margin-right: 0;
    }
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
      padding-left:0;
      padding-right: 0;
    }
  }
}
/* .frm_style_formidable-style.with_frm_style .frm_error {
  background-color: #f9e9e9;
  padding: 5px 8px;
} */

section.section-testimonials {
  @include breakpoint(medium767-down) {
    padding-left: 0;
    padding-right: 0;
  }
}

.fit-container {
  @include breakpoint(medium767-down) {
    align-self: center;
    flex: 0 0 auto;
  }
}

.contact {
  .with_frm_style input[type=text], .with_frm_style input[type=password], .with_frm_style input[type=email], .with_frm_style input[type=number], .with_frm_style input[type=url], .with_frm_style input[type=tel], .with_frm_style input[type=search], .with_frm_style select, .with_frm_style textarea, .with_frm_style .frm-card-element.StripeElement, .with_frm_style .chosen-container {
    font-family: $default-font;
  }
}












