.content-info {
  background-color: #0d4059;
  padding: 300px 0 100px;
  margin-top: -13vw;
  margin-bottom: 0;
  .white-font {
    svg {
      fill: #fff;
    }
  }
  li {
    list-style: none;
  }
  .f16.bold {
    font-weight: 700;
  }
  .f16 {
    li {
      @include font-size-sass(16px);
    }
  }
}

.contact .content-info {
  padding-top: 100px;
  margin-top: 0;
}
