.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
  color: #231f20;
  font-family: $nav-font;
  font-weight: 500;
  @include font-size-sass(20px);
  position: relative;
  @include breakpoint(medium1200-down) {
    @include font-size-sass(16px);
  }
  @include media-breakpoint-down(md) {
    @include font-size-sass(12px);
    padding: 10px 0;
  }
  &:hover {
    color: #0093b2;
  }
  &::after {
    content: "";
    position: absolute;
    left: 18px;
    border-top: 4px solid #0093b2;
    width: 0;
    bottom: 0;
    @include breakpoint(medium767-down) {
      left: unset;
      bottom: unset;
      border-top: 0;
    }
  }
  &:hover::after {
    width: 15px;
    animation-duration: 0.2s;
    animation-name: slideinTen;
    @include media-breakpoint-down(md) {
      width: 10px;
      left: 0;
    }
  }
  @include breakpoint(medium767-down) {
    padding: 0.5rem 0;
    line-height: 1;
  }
}

.banner .nav#menu-topmenutwo {
  a:hover::after {
    content: none;
  }
  .current-menu-item a {
    color: #0093b2;
    &::after {
      content: none;
    }
  }
  .menu-item:first-child {
    @include media-breakpoint-down(md) {
      padding-right: 10px;
    }
  }
  .menu-item:last-child {
    a {
      padding-right: 0;
    }
  }
}

.banner .nav#menu-additional-menu {
  a:hover::after {
    content: none;
  }
  .current-menu-item a {
    color: #0093b2;
    &::after {
      content: none;
    }
  }
}

.header-banner {
  padding: 40px 0 40px;
  @include breakpoint(medium767-down) {
    padding: 20px 0 20px;
  }
  .brand {
    fill: #00629b;
    @include breakpoint(medium767-down) {
      svg {
        width: 78px;
        height: 28px;
      }
    }
  }
  .w20 {
    font-family: $nav-font;
    font-weight: 500;
    @include font-size-sass(20px);
    color: rgba(35,31,32,0.5);
  }
  .hamburger {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    /*@include breakpoint(medium767-down) {
      width: 24px;
      height: 22px;
    }*/
    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      border-radius: 9px;
      opacity: 1;
      right: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      background: #231f20;
      &:nth-child(1) {
        top: 0;
        transform-origin: left center;
      }
      &:nth-child(2) {
        top: 10px;
        transform-origin: left center;
        width: 80%;
      }
      &:nth-child(3) {
        top: 20px;
        transform-origin: left center;
        width: 60%;
      }
    }
    &.open span {
      &:nth-child(1) {
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
        /*@include breakpoint(medium767-down) {
          left: 5px;
        }*/
      }
      &:nth-child(2) {
        width: 0%;
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 21px;
        width: 100%;
        left: 8px;
        /*@include breakpoint(medium767-down) {
          left: 5px;
          top: 17px;
        }*/
      }
    }
  }
  li.nav-button {
    text-decoration: none;
    border: 2px solid #231f20;
    margin-left: 1rem;
    a:hover::after {
      position: inherit;
      left: unset;
      width: none;
      bottom: unset;
      border-top: none;
    }
    @include media-breakpoint-down(md) {
      a {
        padding: 10px;
      }
    }
    @include breakpoint(medium767-down) {
      margin-left: 0;
      text-align: center;
    }
  }
  li.current_page_item a::after {
    content: "";
    position: absolute;
    left: 1rem;
    width: 20px;
    bottom: 0;
    border-top: 4px solid #0093b2;
    @include media-breakpoint-down(md) {
      left: 0;
      width: 10px;
    }
    @include breakpoint(medium767-down) {
      left: unset;
      bottom: unset;
      border-top: 0;
    }
  }
  &.banner .nav-small {
    a {
      @include font-size-sass(14px);
      text-transform: uppercase;
    }
  }
  .menu-topmenutwo-container {
    display: flex;
    li a {
      padding-top: 0;
    }
  }
  #menu-additional-menu li {
    margin-left: auto;
  }
  #menu-top-menu li {
    margin-right: 1rem;
  }
  .additional-nav {
    padding-top: 10px;
    padding-bottom: 60px;
    .additional-nav-title {
      padding-bottom: 25px;
      @include breakpoint(medium1250-down) {
        padding-bottom: 15px;
      }
      @include media-breakpoint-down(md) {
        padding-bottom: 8px;
      }
    }
    .casestudy-image {
      padding-bottom: 40px;
      @include breakpoint(medium1250-down) {
        padding-bottom: 20px;
      }
      @include media-breakpoint-down(md) {
        padding-bottom: 10px;
      }
    }
    @include breakpoint(medium767-down) {
      padding-top: 30px;
    }
  }
  &.is-visible {
    .additional-nav {
      .additional-nav-title {
        margin-top: 40px;
        @include breakpoint(medium1250-down) {
          margin-top: 20px;
        }
        @include media-breakpoint-down(md) {
          margin-top:  10px;
        }
      }
    }
  }
  &.fixed-top,
  &.open {
    background-color: #fff;
    .hamburger span {
      background-color: #231f20;
    }
  }
  @include breakpoint(medium767-down) {
    .menu-item {
      width: 100%;
      margin: 6px 0 6px 0;
      &:not(.nav-button) a {
        position: relative;
        &::after {
          content: url(./images/rightarrow.svg);
          height: 14px;
          width: 10px;
          fill: #fff;
          position: absolute;
          right: 0;
        }
      }
    }
  }
}

.is-hidden {
  opacity: 0;
  transition: transform 0.4s, opacity 0.2s;
  z-index: -1 !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #fff;
  box-shadow: 0px 3px 76px 0px rgba(0,0,0,0.08);
}

.home {
  .header-banner {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    z-index: 1000;
    .brand svg {
      fill: #fff;
    }
    &.fixed-top {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
      background-color: #fff;
      box-shadow: 0px 3px 76px 0px rgba(0,0,0,0.08);
      .brand svg {
        fill: #00629b;
      }
      &.banner .nav a {
        color: $default-font-color;
        &:hover::after {
          border-top: 4px solid #0093b2;
        }
      }
      &.banner .additional-nav .nav a {
        color: #231f20;
        &:hover::after {
          content: none;
        }
      }
      .hamburger span {
        background: $default-font-color;
      }
      li.nav-button {
        border-color: #231f20;
      }
    }
    li.nav-button {
      border-color: #fff;
    }
    hr {
      border-top: 1px solid rgba(255,255,255, 0.2);
    }
    .hamburger span {
      background: #fff;
    }
    .additional-nav {
      background: #fff;
    }
    &.fixed-top,
    &.open {
      .hamburger span {
        background-color: #231f20;
      }
    }
    &.open {
      hr {
        border-top: 1px solid rgba(35,31,32, 0.2);
      }
      .nav a {
        color: #231f20;
        &:hover {
          color: #0093b2;
        }
      }
    }
  }
  .banner .nav a {
    color: #fff;
    &:hover {
      color: #0093b2;
    }
  }
  .banner .additional-nav {
    .nav a {
      color: #231f20;
      &:hover::after {
        content: none;
      }
      &:hover {
        color: #0093b2;
      }
    }
    li.nav-button {
      border-color: #231f20;
    }
  }
}

.casestudy-container a:hover h5 {
  color: #0093b2;
}

.header-banner .brand svg {
  @include media-breakpoint-down(md) {
    width: 100px;
  }
}

.banner #navbarAdditionalContent .nav a {
  @include breakpoint(medium767-down) {
    @include font-size-sass(15px);
  }
}


#navbarAdditionalContent {
  li {
    display: block;
    width: 100%;
  }
  @include breakpoint(medium767-down) {
    .nav-primary {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}

.header-banner #navbarAdditionalContent {
  li.nav-button {
    margin-left: 0;
  }
}

.home-head-logo-fixed {
  display: none;
}

.home {
  .banner.fixed-top.is-visible,
  .banner.open {
    .home-head-logo-fixed {
      display: block;
    }
    .home-head-logo {
      display: none;
    }
  }
}



