.section-cta {
  .section-cta-btn {
    margin-top: 20px;
  }
}

.section-chat {
  //margin-top: 8vw;
  z-index: 20;
  position: relative;
  overflow: hidden;
  padding-bottom: 0;
  h3 {
    color: #fff;
  }
  div {
    color: #fff;
  }
  .button {
    color: #fff;
    &:hover {
      color: $default-font-color;
    }
  }
  .section-chat-btn {
    margin-top: 20px;
  }
  .section-chat-content {
    padding: 50px 0;
    @include media-breakpoint-down(md) {
      padding: 0 0 20px;
    }
  }
  .section-chat-image {
    margin-right: -15px;
    @include media-breakpoint-down(md) {
      .img-outof-container {
        min-width: 130%;
      }
    }
    @include breakpoint(medium767-down) {
      .img-outof-container {
        margin-top: 0;
      }
    }
  }
}

.wave-items {
  padding: 4rem 0;
  .item {
    margin-bottom: -80px;
    &.oncenter {
      margin-top: 80px;
    }
    &.onbottom {
      margin-top: 160px;
    }
  }
  a.item-container {
    max-width: 340px;
    height: 530px;
    padding: 60px 30px;
    background-color: #00629b;
    border: 3px solid #00629b;
    border-radius: 5px;
    color: #fff;
    display: block;
    position: relative;
    @include media-breakpoint-down(md) {
      height: 430px;
    }
    @include breakpoint(medium768-down) {
      padding: 30px 15px;
    }
    .sit-bottom {
      position: absolute;
      bottom: 60px;
      left: 30px;
      width: calc(100% - 60px);
      @include breakpoint(medium768-down) {
        width: calc(100% - 30px);
        left: unset;
      }
      @include breakpoint(medium767-down) {
        position: static;
        bottom: unset;
        left: unset;
        width: 100%;
      }
    }
    div {
      color: inherit;
    }
    &.item-bg-overlay {
      border: 1px solid #707070;
      &:hover {
        color: #fff;
        filter: grayscale(0) !important;
        h5 {
          color: #fff;
        }
        .item-icon svg {
          fill: #fff;
        }
      }
    }
    .item-icon svg {
      fill: #fff;
    }
    h5 {
      color: #fff;
      margin-top: 110px;
    }
    &:hover {
      background-color: transparent;
      border-color: #231f20;
      color: #231f20;
      h5 {
        color: #231f20;
      }
      .item-icon svg {
        fill: #231f20;
      }
    }
  }
  @include breakpoint(medium767-down) {
    padding: 0;
    .item-icon {
      svg {
        width: 36px;
        height: auto;
      }
    }
    .item {
      margin: 15px auto 0;
      &:first-child {
        margin-top: 0;
      }
      &.oncenter {
        margin-top: 15px;
      }
      &.onbottom {
        margin-top: 15px;
      }
    }
    a.item-container {
      max-width: none;
      width: 100%;
      height: auto;
      h5 {
        margin-top: 20px;
      }
    }
  }
}

.section-story-gallery {
  .story-gallery-2 {
    margin-top: 22px;
    position: relative;
    margin-bottom: 100px;
    @include breakpoint(medium767-down) {
      margin-top: 15px;
      margin-bottom: 50px;
    }
    .story-gallery-content {
      position: absolute;
      bottom: 15%;
      left: 5%;
      @include breakpoint(medium1250-down) {
        bottom: 10%;
      }
      @include media-breakpoint-down(md) {
        bottom: 0;
      }
      @include breakpoint(medium767-down) {
        position: relative;
        bottom: unset;
        left: unset;
        padding-right: 24px;
        width: calc(100% - 24px);
        flex: inherit;
      }
    }
  }
  .story-icon svg {
    width: 36px;
    height: auto;
  }
  .gallery-point:nth-child(1),
  .gallery-point:nth-child(2) {
    margin-top: 1.725rem;
  }
  .gallery-point:nth-child(3),
  .gallery-point:nth-child(4) {
    margin-top: 3.25rem;
  }
  @include media-breakpoint-down(md) {
    .story-icon svg {
      width: 20px;
      height: auto;
    }
    .gallery-point:nth-child(1),
    .gallery-point:nth-child(2) {
      margin-top: 20px;
    }
    .gallery-point:nth-child(3),
    .gallery-point:nth-child(4) {
      margin-top: 20px;
    }
  }
 @include breakpoint(medium767-down) {
    .image-1, .image-3 {
      padding-right: 0 !important;
    }
    .gallery-point:nth-child(3),
    .gallery-point:nth-child(4) {
      margin-top: 1.725rem;
    }
    .story-icon svg {
      width: 36px;
    }
  }
}

.story {
  .section-cols {
    .cols {
      padding-top: 100px;
      @include breakpoint(medium767-down) {
        padding-top: 20px;
        background-position: 20% 50% !important;
        background-repeat: no-repeat !important;
        background-size: initial !important;
      }
    }
    .item-2, .item-4, .item-6 {
      margin-top: 50px;
      @include breakpoint(medium767-down) {
        margin-top: 24px;
        padding-left: 10px;
      }
    }
    .item-1, .item-3, .item-5 {
      @include breakpoint(medium767-down) {
        padding-right: 10px;
      }
    }
  }
  @include breakpoint(medium767-down) {
    .cols-section hr {
      margin-top: 3rem !important;
      margin-bottom: 3rem;
    }
  }
  .section-core-value {
    h2 {
      margin-bottom: 10px;
    }
    .head-content {
      margin-bottom: 80px;
      @include breakpoint(medium767-down) {
        margin-bottom: 18vw;
      }
    }
    .mobile-up {
      @include breakpoint(medium767-down) {
        margin-top: -15vw;
      }
    }
    .col-2-adjust {
      flex: 0 0 20%;
      max-width: 20%;
      color: #fff;
      line-height: 1.3;
      @include breakpoint(medium767-down) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 20px;
      }
      &:nth-child(3) {
        .word-item:hover .word {
          transform: translateX(-400%);
          transition: all 4000ms ease;
        }
      }
      &:nth-child(4) {
        .word-item:hover .word {
          transform: translateX(-360%);
          transition: all 4000ms ease;
        }
      }
      &:nth-child(5) {
        .word-item:hover .word {
          transform: translateX(-580%);
          transition: all 4000ms ease;
        }
      }
      .f16, h4 {
        color: #fff;
      }
      .f16 {
        margin: 14px 0 10px;
      }
      h4 {
        margin-bottom: 9px;
      }
    }
    .word-item {
      background-color: #0093b2;
      height: 300px;
      overflow: hidden;
      padding-top: 30px;
      padding-left: 20px;
      color: #fff;
      @include media-breakpoint-down(md) {
        height: auto;
        padding-top: 0;
      }
      .word {
        transform: translateX(0);
        @include font-size-sass(180px);
        font-weight: 900;
        color: #fff;
        transition: all 4000ms ease;
        @include media-breakpoint-down(md) {
          @include font-size-sass(90px);
        }
      }
      &:hover {
        cursor: pointer;
        .word {
          transform: translateX(-300%);
          transition: all 4000ms ease;
        }
      }
    }
    .image-content {
      padding: 400px 0 0;
      margin-top: -20vw;
      h2, p {
        color: #fff;
      }
      @include breakpoint(medium1300-down) {
        padding-bottom: 100px;
        margin-top: -27vw;
      }
      @include media-breakpoint-down(md) {
        padding-bottom: 30px;
        margin-top: -33vw;
      }
      @include breakpoint(medium767-down) {
        margin-top: 0;
        padding-top: 50px;
      }
    }
    .white-bg {
      background-color: #fff;
      height: 5rem;
      width: 100%;
      margin-top: -4rem;
      @include breakpoint(medium1300-down) {
        display: none;
      }
    }
    .fullWidth {
      h2 {
        margin-top: 30px;
        margin-bottom: 20px;
      }
      hr {
        border-top: 4px solid #fff;
        padding-top: 40px;
        width: 80px;
        margin-bottom: 0;
      }
      @include breakpoint(medium767-down) {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 40px;
        margin-bottom: 40px;
        hr {
          padding-top: 20px;
        }
      }
    }
  }
}

.case-studies {
  .item {
    margin-top: -160px;
    &.oncenter {
      margin-top: 160px;
    }
    @include breakpoint(medium767-down) {
      margin-top: 20px;
      &:first-child {
        margin-top: 0;
      }
      &.oncenter {
        margin-top: 20px;
      }
    }
  }
}

.section-cols {
  .col-svg {
    svg {
      width: 42px;
      height: auto;
      @include breakpoint(medium768-down) {
        width: 100%;
      }
    }
    @include breakpoint(medium768-down) {
      padding-right: 0 !important;
    }
  }
  .cols {
    h4 {
      margin-bottom: 10px;
    }
  }
  .cols.noPaddingBottom {
    padding-bottom: 0 !important;
  }
  &.large-bottom {
    padding-bottom: 35vw;
    hr {
      border-top: 2px solid rgba(0, 147, 178, 0.2);
      width: 70%;
      margin-left: 0;
    }
    @include breakpoint(medium767-down) {
      padding-top: 50px;
    }
  }
  &.nohrMobile {
    @include breakpoint(medium767-down) {
      padding-bottom: 40px;
      hr {
        display: none;
      }
    }
  }
  &.largeColMarginBottom {
    padding-bottom: 20vw;
    @include breakpoint(large1700-up) {
      padding-bottom: 27vw;
    }
    @include breakpoint(large2100-up) {
      padding-bottom: 36vw;
    }
    @include breakpoint(large2200-up) {
      padding-bottom: 48vw;
    }
    @include breakpoint(medium1350-down) {
      padding-bottom: 15vw;
    }
    @include breakpoint(medium1200-down) {
      padding-bottom: 0;
    }
    @include breakpoint(medium1000-down) {
      padding-bottom: 4vw;
    }
    @include breakpoint(medium767-down) {
      padding-top: 40px;
      .item-col {
        margin-top: 20px;
      }
      .cols-section {
        .col-btn-bottom {
          width: 100%;
          margin-top: 20px !important;
          .button {
            width: 100%;
          }
        }
      }
    }
    @include breakpoint(small380-down) {
      padding-bottom: 50vw;
    }
    hr {
      border-top: 2px solid rgba(0, 147, 178, 0.2);
      margin-top: 100px;
    }
    small {
      margin: 45px 0 15px;
      @include breakpoint(medium767-down) {
        margin: 12px 0 8px;
      }
    }
    .cols h4 {
      margin-bottom: 20px;
      @include breakpoint(medium767-down) {
        margin-bottom: 8px;
      }
    }
  }
  .cols-section {
    position: relative;
    @include breakpoint(medium768-down) {
      .cols.row {
        padding-bottom: 0 !important;
      }
    }
  }
  .m-bottom {
    @include breakpoint(medium767-down) {
      margin-bottom: 30px;
    }
  }
  .location-office {
    position: relative;
    img {
      width: 100%;
    }
    &.oncenter {
      margin-top: 80px;
    }
    .office-location {
      position: absolute;
      width: 100%;
      bottom: 30px;
      left: 30px;
      color: #fff;
      * {
        color: inherit;
      }
      h2 {
        transform: rotate(-90deg);
        position: absolute;
        transform-origin: 0 0;
        left: 0;
        position: absolute;
        @include breakpoint(medium767-down) {
          @include font-size-sass(28px);
        }
      }
      .address {
        padding-left: 10px;
        position: absolute;
        left: 50px;
        bottom: -30px;
        font-weight: 400;
        @include breakpoint(medium767-down) {
          @include font-size-sass(16px);
          left: 30px;
          bottom: -20px;
        }
      }
    }
    &.col4 {
      .col4-container {
        position: relative;
      }
      .office-location {
        left: 10px;
        h2 {
          transform: rotate(-90deg);
          position: absolute;
          transform-origin: 0 0;
          left: 0;
          position: absolute;
        }
      }
    }
  }
  @include breakpoint(medium767-down) {
    .col-content {
      margin-top: 20px;
    }
  }
}

.section-testimonials {
  margin-top: -30vw;
  z-index: 1;
  @include breakpoint(medium767-down) {
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    &.blue-bg-mobile {
      background-color:#0d4059;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      h2 {
        margin-bottom: 40px;
      }
      .white-bg {
        padding: 30px 20px 20px;
        margin: 30px;
        position: relative;
        right: 0;
        width: 100%;
        margin-top: -30vw;
        z-index: 11;
        .carousel {
          margin-top: 70px;
        }
      }
    }
    .prev-icon,
    .next-icon {
      svg {
        width: 32px;
        height: auto;
      }
    }
    .testimonials-container {
      .cover {
        display: block;
      }
      .white-bg {
        position: relative;
        width: 92%;
        margin: 0 auto;
        padding: 30px 20px;
        margin-top: -20%;
        z-index: 20;
      }
    }
  }
  &.largeColMarginTop {
    margin-top: -68vw;
    padding-top: 53vw;
    padding-bottom: 0;
    @include breakpoint(large1700-up) {
      padding-top: 45vw;
    }
    @include breakpoint(large2100-up) {
      margin-top: -78vw;
    }
    @include breakpoint(large2200-up) {
      padding-top: 33vw;
    }
    @include breakpoint(medium1350-down) {
      margin-top: -61vw;
      padding-top: 54vw;
    }
    @include breakpoint(medium1200-down) {
      margin-top: -48vw;
      padding-top: 54vw;
    }
    @include breakpoint(medium767-down) {
      margin-top: -208vw;
      padding-top: 210vw;
    }
    @include breakpoint(small640-down) {
      margin-top: -450vw;
      padding-top: 440vw;
    }
    @include breakpoint(small380-down) {
      padding-top: 410vw;
    }
  }
  h2 {
    color: #fff;
    margin-bottom: 4.125rem;
  }
  .testimonials-container {
    position: relative;
  }
  .green-rectangle {
    background-color: $emeraldgreen;
    width: 100%;
    height: 100%;
  }
  .touchLeft {
    min-width: 150%;
    vertical-align: bottom;
  }
  .cover {
    position: absolute;
    left: 0;
    z-index: 11;
  }
  .white-bg {
    padding: 60px 40px;
    margin: 50px 0 80px;
    position: absolute;
    right: 0;
    width: 65%;
    z-index: 10;
    box-shadow: 0px 3px 76px 0px rgba(0,0,0,0.76);
    @include media-breakpoint-down(md) {
      padding: 30px;
      margin: 30px 0;
    }
    &::before {
      content: url(./images/quote.svg);
      width: 82px;
      height: auto;
      fill: rgba(18,18,18,0.05);
      position: absolute;
      display: inline-block;
      @include breakpoint(small640-down) {
        transform: scale(.7);
        top: 20px;
        left: 5px;
      }
    }
    .carousel {
      margin-top: 20px;
      @include breakpoint(small380-down) {
        margin-top: 60px;
      }
    }
    .f32 {
      font-weight: 700;
    }
    .testi-pic {
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
    .testi-person {
      font-weight: 700;
    }
    .testi-content {
      font-style: italic;
    }
  }
}

.section-casestudies-gallery {
  .gallery-item {
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
    .gallery-content {
      position: absolute;
      bottom: 40px;
      left: 40px;
      color: #fff;
      * {
        color: inherit;
      }
    }
  }
  @include breakpoint(medium767-down) {
    padding-top: 40px;
    .gallery-button-bottom {
      margin: 20px auto 40px;
      width: 100%;
      .button {
        width: 100%;
      }
    }
  }
}

.section-financial {
  .financial-container {
    position: relative;
    @include breakpoint(medium767-down) {
      margin: 0 auto;
      margin-top: -60px;
    }
  }
  .financial-content {
    @include media-breakpoint-down(md) {
      h3 {
        margin: 15px auto;
      }
    }
  }
  .number-section {
    margin: 20px auto;
    & > div {
      margin-bottom: 30px;
      padding-left: 0;
      @include breakpoint(medium767-down) {
        margin-bottom: 10px;
      }
    }
    @include breakpoint(medium767-down) {
      margin-bottom: 0;
    }
  }
  .blue-rectangle {
    background-color: $skies;
    width: 100%;
    height: 100%;
    @include breakpoint(medium767-down) {
      margin: 0 auto;
    }
  }
  .touchLeftsm {
    min-width: 150%;
    margin-left: -30%;
    vertical-align: bottom;
  }
  .cover {
    position: absolute;
    left: 0;
    z-index: 11;
    @include breakpoint(medium767-down) {
      display: none;
    }
  }
  .f32 {
    font-weight: 700;
  }
 @include breakpoint(medium767-down) {
    .subline {
      margin-bottom: 7px;
    }
    .section-financial-content {
      margin-top: 20px;
      .col-6 {
        padding-left: 0;
        margin-top: 20px;
        &:first-child,
        &:nth-child(2) {
          margin-top: 0;
        }
      }
    }
    hr.number-hr {
      border-top: 1px solid rgba(35,31,32,0.2);
      margin: 20px auto 20px 0;
      width: 96px;
    }
    hr.container {
      margin-top: 30px;
      width: calc(100% - 30px);
      margin-bottom: 40px;
    }
  }
}

.section-home-header {
  .carousel {
    overflow: hidden;
    .carousel-item {
      overflow: hidden;
    }
    position: relative;
    .carousel-control-prev, .carousel-control-next {
      color: #00629b;
      bottom: -80px;
      right: 0;
      top: unset;
      left: unset;
      opacity: 1;
      width: 54px;
      svg {
        width: 54px;
        height: 30px;
        fill: rgba(255,255,255,0.5);
        @include breakpoint(medium1350-down) {
          width: 24px;
          height: auto;
        }
      }
      &:hover {
        color: #0093b2;
        svg {
          fill: #0093b2;
        }
      }
    }
    .carousel-control-prev {
      top: 50%;
      right: unset;
      left: 5%;
      bottom: unset;
      @include breakpoint(medium1350-down) {
        left: 2%;
      }
    }
    .carousel-control-next {
      top: 50%;
      right: 5%;
      bottom: unset;
      @include breakpoint(medium1350-down) {
        right: 2%;
      }
    }
  }
  .carousel-indicators {
    position: absolute;
    bottom: 20px;
    right: 0;
    left: unset;
    li {
      width: 16px;
      height: 6px;
      border-radius: 3px;
      box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
      margin-right: 8px;
      margin-left: 8px;
      border: 0;
      @include breakpoint(medium767-down) {
        width: 10px;
        height: 4px;
        margin-right: 4px;
        margin-left: 4px;
      }
    }
  }
  .carousel-content {
    position: absolute;
    top: 50%;
    margin-top: -128px;
    @include breakpoint(medium1250-down) {
      margin-top: -90px;
    }
    @include breakpoint(medium767-down) {
      margin-top: -150px;
      .white-font {
        max-width: 540px;
        padding-right: 60px;
      }
    }
    @include breakpoint(small480-down) {
      .white-font {
        padding-right: 30px;
      }
    }
  }
  @include breakpoint(medium767-down) {
    .carousel-item {
      img {
        height: 620px;
        object-fit: cover;
        object-position: 60% 100%;
      }
    }
    .carousel .carousel-control-prev,
    .carousel .carousel-control-next {
      top: unset;
      bottom: 100px;
    }
    .carousel-indicators {
      bottom: 106px;
    }
    .carousel .carousel-control-prev {
      left: 10%;
    }
    .carousel .carousel-control-next {
      right: unset;
      left: 21%;
    }
  }
}

.section-headline {
  .subheadline {
    padding-top: 30px;
    padding-bottom: 5px;
    border-top: 4px solid #0093b2;
    @include breakpoint(medium767-down) {
      padding-top: 16px;
      padding-bottom: 16px;
    }
    @include breakpoint(small640-down) {
      margin-top: 30px;
    }
  }
}

.section-custom-post-type {
  .grid {
    margin-top: 3.5rem;
    h5 {
      margin: 30px 0 8px;
    }
    small {
      padding-bottom: 20px;
      @include media-breakpoint-down(md) {
        padding-bottom: 10px;
      }
    }
    @include breakpoint(medium767-down) {
      margin-top: 2rem;
    }
    @include breakpoint(medium767-down) {
      h5 {
        margin: 20px 0 8px;
      }
    }
  }
  @include breakpoint(medium767-down) {
    .col-10 {
      margin-left: auto;
      margin-right: auto;
    }
    .normal-item {
      padding: 20px 0 0;
      img {
        align-self: center;
        flex: 0 0 auto;
      }
      &:last-child {
        margin-bottom: 50px;
      }
    }
  }
}

.error404 {
  h1 {
    margin: 45px auto 15px;
  }
}

.section-list {
  .section-list-header {
    margin-bottom: 3.25rem;
  }
  @include media-breakpoint-down(md) {
    .list-item {
      .col-2 {
        padding-left: 0;
        svg {
          width: 100%;
        }
      }
    }
  }
}

.home {
  .svg-arrow-testimonial {
    top: 34%;
  }
  .section-cols {
    z-index: 10;
    hr {
      width: 70%;
      margin-left: 0;
      @include breakpoint(medium767-down) {
        width: 100%;
        margin: 45px auto 0 !important;
      }
    }
  }
  .carousel-content {
    .button {
      margin-top: 40px;
    }
  }
  .section-chat {
    margin-top: 0;
  }
  .w-100 {
    @include breakpoint(medium1350-down) {
      width: 80% !important;
    }
    @include breakpoint(medium767-down) {
      width: 92% !important;
    }
  }
  .section-list {
    @include breakpoint(medium767-down) {
      .desktop-show {
        display: none !important;
      }
      .section-list-container {
        .col-2 {
          svg {
            width: 36px;
            height: auto;
          }
        }
        h4 {
          margin-bottom: 10px;
        }
        .list-item {
          margin-top: 20px;
          &:first-child {
            margin-top: 0;
          }
        }
      }
      .section-list-header {
        margin-bottom: 20px;
      }
      .mobile-list-btn {
        margin: 20px auto 40px;
        .button {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  @include breakpoint(medium767-down) {
    .wrap {
      overflow-x: hidden;
    }
    .carousel-item {
      overflow-y: hidden;
    }
  }
}

.careers {
  .section-cols {
    hr {
      @include breakpoint(medium767-down) {
        margin-top: 3.25rem !important;
      }
    }
    @include breakpoint(medium767-down) {
      .cols-section {
        p {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.section-content {
  .content-container {
    margin-top: 5rem;
  }
  @include breakpoint(medium767-down) {
    margin: 20px auto;
    .content-container {
      margin-top: 5rem;
    }
  }
}

.guaranteed-fixed-price-quotes {
  @include breakpoint(medium1350-down) {
    .tab-pane {
      .tab-content-col {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
  @include breakpoint(medium767-down) {
    .section-content {
        .content-container {
          margin-top: 20px;
          margin-bottom: 40px;
        }
    }
    .section-chat {
      margin-top: 60px;
    }
  }
}

.section-risks {
  background-color: #0d4059;
  padding: 0;
  color: #fff;
  & > .row {
    margin-left: 0;
    margin-right: 0;
  }
  * {
    color: inherit;
  }
  h2 {
    hr {
      border-top: 4px solid #fff;
      margin-bottom: 2rem;
      margin-top: 0;
      max-width: 78px;
      @include breakpoint(medium1250-down) {
        margin-bottom: 1rem;
      }
    }
  }
  .dvd {
    border-left: 1px solid #707070;
    height: 90%;
    margin-left: -40px;
  }
  .risk-tab-container {
    .nav-tabs {
      border-bottom: none;
    }
  }
  .mobile-show-640 {
    @include media-breakpoint-down(md) {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  .risk-container {
    .nav-tabs {
      position: initial;
    }
    position: relative;
    svg.circle {
      width: 100%;
      height: auto;
      min-width: 130%;
      margin-left: -60%;
      margin-top: -5vw;
      margin-bottom: -5vw;
      @include breakpoint(medium1000-down) {
        margin-top: -2vw;
        margin-bottom: -2vw;
      }
    }
    .risk-pointer {
      svg {
        fill: #fff;
        position: absolute;
        top: 34%;
        left: 14%;
        width: 50%;
        transition: 1s ease-in-out;
      }
      &#risk1 {
        svg {
          transform: rotate(-70deg);
          top: 0%;
          left: 13%;
          @include breakpoint(large1800-up) {
            top: 7%;
            width: 53%;
          }
          @include breakpoint(large2200-up) {
            top: 13%;
            width: 100%;
            left: -13%;
          }
          @include breakpoint(medium1350-down) {
            top: -1%;
            transform: rotate(-69deg);
          }
          @include breakpoint(medium1250-down) {
            top: -4%;
          }
          @include breakpoint(medium1200-down) {
            top: -5%;
            left: 13%;
          }
          @include media-breakpoint-down(md) {
            top: -14%;
            transform: rotate(-73deg);
          }
        }
      }
      &#risk2 {
        svg {
          transform: rotate(-52deg);
          top: 10%;
          left: 16%;
          @include breakpoint(large1800-up) {
            top: 16%;
            left: 16%;
            width: 58%;
            transform: rotate(-54deg);
          }
          @include breakpoint(large2200-up) {
            top: 21%;
            width: 102%;
            left: -10%;
          }
          @include breakpoint(medium1410-down) {
            top: 8%;
          }
          @include breakpoint(medium1350-down) {
            top: 6%;
            transform: rotate(-56deg);
          }
          @include breakpoint(medium1250-down) {
            top: 3%;
          }
          @include breakpoint(medium1200-down) {
            top: 1%;
          }
          @include media-breakpoint-down(md) {
            top: -8%;
          }
        }
      }
      &#risk3 {
        svg {
          transform: rotate(-40deg);
          top: 18%;
          left: 17%;
          @include breakpoint(large1800-up) {
            top: 24%;
            width: 58%;
          }
          @include breakpoint(large2200-up) {
            top: 28%;
            width: 100%;
            left: -9%;
          }
          @include breakpoint(medium1410-down) {
            top: 16%;
          }
          @include breakpoint(medium1350-down) {
            top: 14%;
          }
          @include breakpoint(medium1250-down) {
            transform: rotate(-40deg);
            top: 10%;
          }
          @include media-breakpoint-down(md) {
            top: 0%;
          }
        }
      }
      &#risk4 {
        svg {
          transform: rotate(-25deg);
          top: 25%;
          left: 16%;
          @include breakpoint(large1800-up) {
            top: 32%;
            width: 56%;
          }
          @include breakpoint(large2200-up) {
            top: 35%;
            width: 100%;
            left: -9%;
          }
          @include breakpoint(medium1350-down) {
            top: 20%;
          }
          @include breakpoint(medium1250-down) {
            top: 19%;
          }
          @include breakpoint(medium1200-down) {
            top: 17%;
            transform: rotate(-24deg);
          }
          @include media-breakpoint-down(md) {
            top: 7%;
            transform: rotate(-21deg);
          }
        }
      }
      &#risk5 {
        svg {
          transform: rotate(-8deg);
          @include breakpoint(large1800-up) {
            top: 42%;
            width: 54%;
          }
          @include breakpoint(large2200-up) {
            top: 45%;
            width: 100%;
            left: -11%;
          }
          @include breakpoint(medium1350-down) {
            top: 30%;
          }
          @include breakpoint(medium1250-down) {
            top: 28%;
          }
          @include breakpoint(medium1200-down) {
            top: 26%;
          }
          @include media-breakpoint-down(md) {
            top: 14%;
            transform: rotate(-6deg);
          }
        }
      }
    }
    .nav-item {
      position: absolute;
      top: 10%;
      right: 20%;
      display: inline-block;
      @include font-size-sass(18px);
      border: none;
      color: #fff;
      font-weight: 300;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 2px;
      &.active {
        font-weight: 900;
        color: #fff;
        background-color: transparent;
        border-bottom: 2px solid #fff;
      }
      @include breakpoint(medium1250-down) {
        @include font-size-sass(16px);
      }
      @include media-breakpoint-down(md) {
        @include font-size-sass(12px);
      }
    }
    .nav-item-1 {
      top: 28%;
      right: 0;
    }
    .nav-item-2 {
      top: 46%;
      right: -8%;
    }
    .nav-item-3 {
      top: 64%;
      right: 10%;
    }
    .nav-item-4 {
      top: 82%;
    }
  }
  .taboncircle {
    position: absolute;
    right: 0;
    .nav-tabs {
      border: none;
      hr {
        display: none;
      }
      a.nav-item {
        display: block;
      }
    }
  }
  @include breakpoint(medium767-down) {
    .dvd {
      display: none;
    }
    .tab-content > .tab-pane {
      padding-left: 5px;
      padding-right: 5px;
    }
    h2 hr {
      margin-top: 20px;
    }
    .select2-container--default .select2-selection--single {
      background-color: transparent;
      border: 2px solid #ebebeb;
      border-radius: 0;
      color: #fff;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      content: url("../images/white-down-arrow.svg");
    }
    .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
      transform: rotate(180deg);
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
      color: #fff;
    }
    .risk-content-container {
      padding-bottom: 30px;
      padding-left: 24px;
      padding-right: 24px;
    }
    .risk-container {
      overflow: hidden;
      padding-left: 0;
      padding-right: 0;
      max-width: 360px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      svg.circle {
        min-width: auto;
        margin: -50% auto auto;
        min-width: auto;
        padding-bottom: 50%;
      }
      .nav-tabs {
        border: none;
      }
      .nav-item {
        top: 46%;
        right: 10%;
        @include font-size-sass(12px);
      }
      .nav-item-1 {
        top: 60%;
        right: 19%;
      }
      .nav-item-2 {
        top: 74%;
        right: 40%;
      }
      .nav-item-3 {
        top: 60%;
        right: 62%;
      }
      .nav-item-4 {
        top: 46%;
        right: 77%;
      }
      .risk-pointer {
        svg {
          top: -318%;
          left: 15%;
          width: 40%;
        }
        &#risk5 svg {
          transform: rotate(87deg);
          top: -31%;
        }
        &#risk1 svg {
          transform: rotate(14deg);
          top: -32%;
          left: 46%;
          width: 40%;
        }
        &#risk2 svg {
          transform: rotate(33deg);
          top: -24%;
          left: 36%;
          width: 46%;
        }
        &#risk3 svg {
          transform: rotate(51deg);
          top: -19%;
          left: 23%;
          width: 55%;
        }
        &#risk4 svg {
          transform: rotate(70deg);
          top: -25%;
          left: 17%;
          width: 48%;
        }
      }
    }
  }
}

.contact {
  .contact-section {
    border-left: 2px solid #ebebeb;
    @include breakpoint(medium767-down) {
      border-left: none;
    }
  }
  .with_frm_style input[type=text], .with_frm_style input[type=password], .with_frm_style input[type=email], .with_frm_style input[type=number], .with_frm_style input[type=url], .with_frm_style input[type=tel], .with_frm_style input[type=phone], .with_frm_style input[type=search], .with_frm_style select, .with_frm_style textarea, .frm_form_fields_style, .with_frm_style .frm_scroll_box .frm_opt_container, .frm_form_fields_active_style, .frm_form_fields_error_style, .with_frm_style .frm-card-element.StripeElement, .with_frm_style .chosen-container-multi .chosen-choices, .with_frm_style .chosen-container-single .chosen-single, textarea {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: none;
    border-radius: 0;
    border-color: #707070;
    padding-left: 0;
  }
  .with_frm_style .frm_form_fields > fieldset {
    padding-bottom: 0;
  }
  .section-contact-info .info {
    svg {
      width: 18px;
      height: 18px;
      vertical-align: top;
    }
    h4 {
      margin-bottom: 8px;
    }
  }
  .sub-title {
    margin-bottom: 10px;
    h4 {
      letter-spacing: 4px;
    }
  }
  .phone.info,
  .fax.info {
    margin-top: 36px;
  }
  .social-section {
    margin-top: 50px;
  }
  .info a {
    font-weight: 400;
    color: #121212;
    text-decoration: underline;
    &:hover {
      color: #0093b2;
    }
  }
  .frm_style_formidable-style.with_frm_style .frm_submit button {
    @include breakpoint(medium767-down) {
      width: 100%;
      display: block;
    }
  }
  hr.mobile-show {
    border-top: 2px solid #ebebeb;
    margin: 40px auto 50px;
  }
  .social-icon {
    svg {
      max-width: 20px;
    }
  }
  .social-icon .sm-icon:hover {
    svg {
      fill: #0093b2;
    }
  }
}

@include breakpoint(medium767-down) {
  .select2-container {
    margin-top: 0;
  }
}

.careers {
  @include breakpoint(medium767-down) {
    .section-cols .col-head-section {
      .m-bottom {
        margin-bottom: 10px;
      }
    }
  }
}








