.section-cta {
  .section-cta-btn {
    margin-top: 20px;
  }
}

.section-chat {
  margin-top: 8vw;
  z-index: 20;
  position: relative;
  overflow: hidden;
  padding-bottom: 0;
  h3 {
    color: #fff;
  }
  div {
    color: #fff;
  }
  .button {
    color: #fff;
  }
  .section-chat-btn {
    margin-top: 20px;
  }
  .section-chat-content {
    padding: 50px 0;
    @include breakpoint(small640-down) {
      padding: 0 0 20px;
    }
  }
  .section-chat-image {
    margin-right: -15px;
    @include breakpoint(small640-down) {
      .img-outof-container {
        margin-top: 0;
        min-width: 130%;
      }
    }
  }
}

.wave-items {
  padding: 4rem 0;
  .item {
    margin-bottom: -80px;
    &.oncenter {
      margin-top: 80px;
    }
    &.onbottom {
      margin-top: 160px;
    }
  }
  a.item-container {
    max-width: 340px;
    height: 530px;
    padding: 60px 30px;
    background-color: #00629b;
    border: 3px solid #00629b;
    border-radius: 5px;
    color: #fff;
    display: block;
    &.item-bg-overlay {
      border: 1px solid #707070;
      &:hover {
        color: #fff;
        filter: grayscale(0) !important;
        h5 {
          color: #fff;
        }
        .item-icon svg {
          fill: #fff;
        }
      }
    }
    .item-icon svg {
      fill: #fff;
    }
    h5 {
      color: #fff;
      margin-top: 110px;
    }
    &:hover {
      background-color: transparent;
      border-color: #231f20;
      color: #231f20;
      h5 {
        color: #231f20;
      }
      .item-icon svg {
        fill: #231f20;
      }
    }
  }
  @include breakpoint(small640-down) {
    padding: 0;
    .item-icon {
      svg {
        width: 36px;
        height: auto;
      }
    }
    .item {
      margin: 15px auto 0;
      &:first-child {
        margin-top: 0;
      }
      &.oncenter {
        margin-top: 15px;
      }
      &.onbottom {
        margin-top: 15px;
      }
    }
    a.item-container {
      padding: 30px 15px;
      max-width: none;
      width: 100%;
      height: auto;
      h5 {
        margin-top: 20px;
      }
    }
  }
}

.section-story-gallery {
  .story-gallery-2 {
    margin-top: 22px;
    position: relative;
    margin-bottom: 100px;
    @include breakpoint(small640-down) {
      margin-top: 15px;
      margin-bottom: 50px;
    }
    .story-gallery-content {
      position: absolute;
      bottom: 15%;
      left: 5%;
      @include breakpoint(small640-down) {
        position: relative;
        bottom: unset;
        left: unset;
        padding-right: 30px;
        padding-left: 30px;
      }
    }
  }
  .story-icon svg {
    width: 36px;
    height: auto;
  }
  .gallery-point:nth-child(1),
  .gallery-point:nth-child(2) {
    margin-top: 1.725rem;
  }
  .gallery-point:nth-child(3),
  .gallery-point:nth-child(4) {
    margin-top: 3.25rem;
  }
  @include breakpoint(small640-down) {
    .image-1, .image-3 {
      padding-right: 0 !important;
    }
    .gallery-point:nth-child(3),
    .gallery-point:nth-child(4) {
      margin-top: 1.725rem;
    }
  }
}

.story {
  .section-cols {
    .cols {
      padding-top: 100px;
      @include breakpoint(small640-down) {
        padding-top: 20px;
        background-position: 20% 50% !important;
        background-repeat: no-repeat !important;
        background-size: initial !important;
      }
    }
    .item-2, .item-4, .item-6 {
      margin-top: 50px;
      @include breakpoint(small640-down) {
        margin-top: 24px;
      }
    }
  }
  @include breakpoint(small640-down) {
    .cols-section {
      margin-top: 3rem !important;
      margin-bottom: 3rem;
    }
  }
  .section-core-value {
    h2 {
      margin-bottom: 10px;
    }
    .head-content {
      margin-bottom: 80px;
      @include breakpoint(small640-down) {
        margin-bottom: 18vw;
      }
    }
    .mobile-up {
      @include breakpoint(small640-down) {
        margin-top: -15vw;
      }
    }
    .col-2-adjust {
      flex: 0 0 20%;
      max-width: 20%;
      color: #fff;
      line-height: 1.3;
      @include breakpoint(small640-down) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 20px;
      }
      &:nth-child(3) {
        .word-item:hover .word {
          transform: translateX(-400%);
          transition: all 1500ms ease;
        }
      }
      &:nth-child(4) {
        .word-item:hover .word {
          transform: translateX(-360%);
          transition: all 1500ms ease;
        }
      }
      &:nth-child(5) {
        .word-item:hover .word {
          transform: translateX(-580%);
          transition: all 1500ms ease;
        }
      }
      .f16, h4 {
        color: #fff;
      }
      .f16 {
        margin: 14px 0 10px;
      }
      h4 {
        margin-bottom: 9px;
      }
    }
    .word-item {
      background-color: #0093b2;
      height: 300px;
      overflow: hidden;
      padding-top: 30px;
      padding-left: 20px;
      color: #fff;
      @include breakpoint(small640-down) {
        height: auto;
        padding-top: 0;
      }
      .word {
        transform: translateX(0);
        @include font-size-sass(180px);
        font-weight: 900;
        color: #fff;
        transition: all 1500ms ease;
        @include breakpoint(small640-down) {
          @include font-size-sass(90px);
        }
      }
      &:hover {
        cursor: pointer;
        .word {
          transform: translateX(-300%);
          transition: all 1500ms ease;
        }
      }
    }
    .image-content {
      padding: 400px 0 0;
      margin-top: -20vw;
      h2, p {
        color: #fff;
      }
      @include breakpoint(small640-down) {
        margin-top: 0;
        padding-top: 50px;
      }
    }
    .white-bg {
      background-color: #fff;
      height: 5rem;
      width: 100%;
      margin-top: -4rem;
      @include breakpoint(small640-down) {
        display: none;
      }
    }
    .fullWidth {
      h2 {
        margin-top: 30px;
        margin-bottom: 20px;
      }
      hr {
        border-top: 4px solid #fff;
        padding-top: 40px;
        width: 80px;
        margin-bottom: 0;
      }
      @include breakpoint(small640-down) {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 40px;
        margin-bottom: 40px;
        hr {
          padding-top: 20px;
        }
      }
    }
  }
}

.case-studies {
  .item {
    margin-top: -160px;
    &.oncenter {
      margin-top: 160px;
    }
    @include breakpoint(small640-down) {
      margin-top: 20px;
      &:first-child {
        margin-top: 0;
      }
      &.oncenter {
        margin-top: 20px;
      }
    }
  }
}

.section-cols {
  .col-svg svg {
    width: 42px;
    height: auto;
  }
  .cols {
    h4 {
      margin-bottom: 10px;
    }
  }
  .cols.noPaddingBottom {
    padding-bottom: 0 !important;
  }
  &.large-bottom {
    padding-bottom: 35vw;
    hr {
      border-top: 2px solid rgba(0, 147, 178, 0.2);
      width: 70%;
      margin-left: 0;
    }
    @include breakpoint(small640-down) {
      padding-top: 50px;
    }
  }
  &.nohrMobile {
    @include breakpoint(small640-down) {
      padding-bottom: 40px;
      hr {
        display: none;
      }
    }
  }
  &.largeColMarginBottom {
    padding-bottom: 20vw;
    hr {
      border-top: 2px solid rgba(0, 147, 178, 0.2);
      margin-top: 100px;
    }
    small {
      margin: 45px 0 15px;
    }
    .cols h4 {
      margin-bottom: 20px;
    }
  }
  .cols-section {
    position: relative;
  }
  .m-bottom {
    @include breakpoint(small640-down) {
      margin-bottom: 30px;
    }
  }
  .location-office {
    position: relative;
    img {
      width: 100%;
    }
    &.oncenter {
      margin-top: 80px;
    }
    .office-location {
      position: absolute;
      width: 100%;
      bottom: 30px;
      left: 30px;
      color: #fff;
      * {
        color: inherit;
      }
      h2 {
        transform: rotate(-90deg);
        position: absolute;
        transform-origin: 0 0;
        left: 0;
        position: absolute;
      }
      .address {
        padding-left: 10px;
        position: absolute;
        left: 50px;
        bottom: -30px;
      }
    }
    &.col4 {
      .col4-container {
        position: relative;
      }
      .office-location {
        left: 10px;
        h2 {
          transform: rotate(-90deg);
          position: absolute;
          transform-origin: 0 0;
          left: 0;
          position: absolute;
        }
      }
    }
  }
  @include breakpoint(small640-down) {
    .col-content {
      margin-top: 20px;
    }
  }
}

.section-testimonials {
  margin-top: -30vw;
  z-index: 1;
  @include breakpoint(small640-down) {
    margin-top: 0;
    &.blue-bg-mobile {
      background-color:#0d4059;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      h2 {
        margin-bottom: 40px;
      }
      .white-bg {
        padding: 30px 20px 20px;
        margin: 30px;
        position: relative;
        right: 0;
        width: 100%;
        margin-top: -30vw;
        z-index: 11;
        .carousel {
          margin-top: 70px;
        }
      }
    }
  }
  &.largeColMarginTop {
    margin-top: -68vw;
    padding-top: 53vw;
    padding-bottom: 0;
  }
  h2 {
    color: #fff;
    margin-bottom: 4.125rem;
  }
  .testimonials-container {
    position: relative;
  }
  .green-rectangle {
    background-color: $emeraldgreen;
    width: 100%;
    height: 100%;
  }
  .touchLeft {
    min-width: 150%;
    vertical-align: bottom;
  }
  .cover {
    position: absolute;
    left: 0;
    z-index: 11;
  }
  .white-bg {
    padding: 60px 40px;
    margin: 50px 0 80px;
    position: absolute;
    right: 0;
    width: 65%;
    z-index: 10;
    box-shadow: 0px 3px 76px 0px rgba(0,0,0,0.76);
    &::before {
      content: url(./images/quote.svg);
      width: 82px;
      height: auto;
      fill: rgba(18,18,18,0.05);
      position: absolute;
      @include breakpoint(small640-down) {
        content: url(./images/quote.svg);
        width: 66px;
      }
    }
    .carousel {
      margin-top: 20px;
    }
    .f32 {
      font-weight: 700;
    }
    .testi-pic {
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
    .testi-person {
      font-weight: 700;
    }
    .testi-content {
      font-style: italic;
    }
  }
}

.section-casestudies-gallery {
  .gallery-item {
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
    .gallery-content {
      position: absolute;
      bottom: 40px;
      left: 40px;
      color: #fff;
      * {
        color: inherit;
      }
    }
  }
}

.section-financial {
  .financial-container {
    position: relative;
  }
  .blue-rectangle {
    background-color: $skies;
    width: 100%;
    height: 100%;
  }
  .touchLeftsm {
    min-width: 150%;
    margin-left: -30%;
    vertical-align: bottom;
  }
  .cover {
    position: absolute;
    left: 0;
    z-index: 11;
  }
  .f32 {
    font-weight: 700;
  }
}

.section-home-header {
  .carousel {
    position: relative;
    .carousel-control-prev, .carousel-control-next {
      color: #00629b;
      bottom: -80px;
      right: 0;
      top: unset;
      left: unset;
      opacity: 1;
      width: 54px;
      svg {
        width: 54px;
        height: 30px;
        fill: rgba(255,255,255,0.5);
      }
    }
    .carousel-control-prev {
      top: 50%;
      right: unset;
      left: 5%;
      bottom: unset;
    }
    .carousel-control-next {
      top: 50%;
      right: 5%;
      bottom: unset;
    }
  }
  .carousel-indicators {
    position: absolute;
    bottom: 20px;
    right: 0;
    left: unset;
    li {
      width: 16px;
      height: 6px;
      border-radius: 3px;
      box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
      margin-right: 8px;
      margin-left: 8px;
      border: 0;
    }
  }
  .carousel-content {
    position: absolute;
    top: 50%;
    margin-top: -128px;
  }
}

.section-headline {
  .subheadline {
    padding-top: 30px;
    padding-bottom: 5px;
    border-top: 4px solid #0093b2;
  }
}

.section-custom-post-type {
  .grid {
    margin-top: 3.5rem;
    h5 {
      margin: 30px 0 8px;
    }
    small {
      padding-bottom: 20px;
    }
    @include breakpoint(small640-down) {
      margin-top: 2rem;
    }
    @include breakpoint(small640-down) {
      h5 {
        margin: 20px 0 8px;
      }
    }
  }
  .cs-container {
    @include breakpoint(small640-down) {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
}

.error404 {
  h1 {
    margin: 45px auto 15px;
  }
}

.section-list {
  .section-list-header {
    margin-bottom: 3.25rem;
  }
}

.home {
  .section-cols {
    z-index: 10;
  }
  .svg-arrow-testimonial {
    top: 34%;
  }
  .section-cols {
    hr {
      width: 70%;
      margin-left: 0;
    }
  }
}

.careers {
  .section-cols {
    hr {
      @include breakpoint(small640-down) {
        margin-top: 3.25rem !important;
      }
    }
    @include breakpoint(small640-down) {
      .cols-section {
        p {
          margin-bottom: 20px;
        }
      }
    }
  }
}




