.post-header {
  // height: 670px;
  padding-bottom: 150px;
  .header-content {
    color: #fff;
    max-width: 540px;
    width: 100%;
  }
  a {
    color: #fff;
    @include font-size-sass(18px);
    font-weight: 400;
    position: relative;
    &::before {
      content: "\2190";
      padding-right: 12px;
      display:inline-block;
    }
    &::after {
      position: absolute;
      content: '';
      border-bottom: 1px solid #fff;
      width: 0;
      top: 30px;
      left: 32px;
    }
    &:hover {
      &::after {
        width: calc(100% - 32px);
        animation-duration: 1s;
        animation-name: slidein;
      }
    }
    padding-top: 0;
    padding-bottom: 100px;
    @include breakpoint(medium767-down) {
      padding-bottom: 60px;
    }
  }
  @include breakpoint(medium767-down) {
    h1 {
      margin-bottom: 20px;
    }
  }
}

.section-case-study-info {
  padding: 40px;
  margin-top: -6vw;
  background-color: #fff;
  .casestudy-result {
    @include font-size-sass(18px);
    font-weight: 300;
  }
  @include breakpoint(medium767-down) {
    margin-top: -10vw;
    margin-left: auto;
    margin-right: auto;
  }
  @include breakpoint(small640-down) {
    margin-top: -30vw;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
    padding: 15px;
    h4 {
      @include font-size-sass(14px);
      margin-bottom: 6px;
    }
    .col-info {
      margin-bottom: 20px;
    }
  }
  @include breakpoint(small380-down) {
    margin-left: 24px;
    margin-right: 24px;
    width: calc(100% - 48px);
  }
}

.round-svg {
  border-radius: 50%;
  background-color: #00629b;
  width: 168px;
  height: 168px;
  @include breakpoint(medium768-down) {
    width: 48px;
    height: 48px;
    padding: 8px;
  }
}

.detail-content-copy {
  @include breakpoint(medium768-down) {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

.section-icon {
  margin-top: -10vw;
  padding-bottom: 0;
  @include breakpoint(medium768-down) {
    .icon-line-mobile::before {
      content: url('../images/point-post.svg');
      width: 0;
      left: 19px;
      top: 50%;
      height: 46%;
      z-index: 5;
      position: absolute;
    }
  }
  @include breakpoint(medium768-down) {
    margin-top: -20vw;
    .mobile-tab-title {
      padding-top: 60px;
      min-height: 115px;
    }
    h3.title-detail {
      margin-bottom: 0;
    }
  }
  @include breakpoint(small640-down) {
    .mobile-show.pb-4 {
      margin-top: 20px;
      padding-bottom: 0 !important;
      .select2-container {
        margin-bottom: 0;
      }
    }
    .icon-line-mobile {
      margin-top: 20px;
    }
  }
}

.section-chat {
  margin-top: 4vw;
  @include media-breakpoint-down(md) {
    margin-top: 0;
  }
}

.section-details {
   padding-top: 5rem;
  .tab-pane {
    margin: 30px auto 80px;
  }
  .nav-tabs .nav-link.active, .nav-tabs .banner .nav a.active, .banner .nav .nav-tabs a.active, .nav-tabs .banner .nav a.active, .banner .nav .nav-tabs a.active, .nav-tabs .nav-item.show .nav-link, .nav-tabs .banner .nav li.show .nav-link, .banner .nav .nav-tabs li.show .nav-link, .nav-tabs .nav-item.show .banner .nav a, .banner .nav .nav-tabs .nav-item.show a, .nav-tabs .banner .nav li.show a, .banner .nav .nav-tabs li.show a, .nav-tabs .banner .nav li.show .nav-link, .nav-tabs .banner .nav li.show a, .banner .nav .nav-tabs li.show .nav-link, .banner .nav .nav-tabs li.show a, .nav-tabs .nav-item.show .banner .nav a, .nav-tabs .banner .nav li.show .banner .nav a, .banner .nav .nav-tabs li.show .banner .nav a, .banner .nav .nav-tabs .nav-item.show a, .banner .nav .nav-tabs li.show a, .nav-tabs .banner .nav li.show a, .banner .nav .nav-tabs li.show a {
    border-bottom: none;
    border-color: transparent;
  }
  @include breakpoint(medium768-down) {
    padding-top: 3rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5rem;
    .tab-pane {
      margin: 15px auto 0;
    }
    #nav-tabContent {
      margin-top: 15px;
    }
  }
  @include breakpoint(medium767-down) {
    padding-top: 1rem;
    padding-left: 24px;
    padding-right: 24px;
  }
  @include breakpoint(small640-down) {
    padding-bottom: 100px;
  }
}

.single-case_studies .section-details {
  .tab-pane {
    margin-bottom: 30px;
    margin-top: 0;
    @include breakpoint(small640-down) {
      margin-bottom: 0;
    }
  }
}

.section-case-study {
  background-color: #0d4059;
  padding: 100px;
  h3, div, p, a {
    color: #fff;
  }
  h3 {
    margin-top: 10px;
  }
  .green-rectangle {
    background-color: $emeraldgreen;
    max-width: 350px;
    width: 100%;
    height: 500px;
  }
  .img-outof-border {
    position: absolute;
    top: -30%;
    left: 20%;
  }
  @include media-breakpoint-down(md) {
    padding: 30px;
    .case-study-img {
      flex: 0 0 30%;
      max-width: 30%;
    }
    .case-study-content {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .green-rectangle {
      height: 250px;
    }
  }
  @include breakpoint(medium767-down) {
    padding: 50px 30px;
    margin-bottom: 60px;
    .case-study-type {
      margin-top: 20px;
    }
    .case-study-content {
      margin-left: 10%;
    }
    .green-rectangle {
      width: 180px;
      height: 250px;
    }
  }
  @include breakpoint(small640-down) {
    .case-study-content {
      margin-left: 0;
    }
    .case-study-content {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .green-rectangle {
      width: 64%;
    }
    .case-study-img {
      flex: 0 0 100%;
      max-width: 100%;
      img.img-outof-border {
        width: 60%;
        top: -40%;
        left: 36%;
      }
    }
    .button {
      display: block !important;
    }
  }
}

