.post-header {
  // height: 670px;
  padding-bottom: 150px;
  .header-content {
    color: #fff;
    max-width: 540px;
    width: 100%;
  }
  a {
    color: #fff;
    @include font-size-sass(18px);
    font-weight: 400;
    &::before {
      content: "\2190";
      padding-right: 12px;
    }
    padding-top: 0;
    padding-bottom: 100px;
    @include breakpoint(small640-down) {
      padding-bottom: 80px;
    }
  }
  @include breakpoint(small640-down) {
    h1 {
      margin-bottom: 20px;
    }
  }
}

.section-case-study-info {
  padding: 40px;
  margin-top: -6vw;
  background-color: #fff;
  .casestudy-result {
    @include font-size-sass(18px);
    font-weight: 300;
  }
  @include breakpoint(small640-down) {
    margin-top: -30vw;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
    padding: 15px;
    h4 {
      @include font-size-sass(14px);
      margin-bottom: 6px;
    }
    .col-info {
      margin-bottom: 20px;
    }
  }
}

.round-svg {
  border-radius: 50%;
  background-color: #00629b;
  width: 168px;
  height: 168px;
}

.section-icon {
  margin-top: -10vw;
  padding-bottom: 0;
  .icon-line::before {
    content: '';
    width: 0;
    height: 75%;
    position: absolute;
    border: 1px solid black;
    top: 35%;
    left: 100px;
  }
  .icon-line::after {
    content: '.';
    width: 11px;
    height: 11px;
    left: 87px;
    bottom: 12%;
    position: absolute;
    font-size: 120px;
  }
}

.section-details {
  padding: 0;
  .tab-pane {
    margin: 30px auto 80px;
  }
  @include breakpoint(small640-down) {
    padding-left: 15px;
    padding-right: 15px;
    .tab-pane {
      margin: 15px auto 0;
    }
  }
}

.section-case-study {
  background-color: #0d4059;
  padding: 100px;
  h3, div, p, a {
    color: #fff;
  }
  h3 {
    margin-top: 10px;
  }
  .green-rectangle {
    background-color: $emeraldgreen;
    width: 350px;
    height: 500px;
  }
  .img-outof-border {
    position: absolute;
    top: -30%;
    left: 20%;
  }
}

